#test{
    padding:1%;
    line-height:30px;
}

body{
    margin: 0;
    text-align: center;
}
#entier{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    line-height:30px;
}

.case{
    background-color: rgb(193, 199, 255);
    font-size: larger;
    
}